name: Terraform

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      ARM_USE_OIDC: true
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID:        ${{ secrets.ARM_TENANT_ID }}
      ARM_CLIENT_ID:        ${{ secrets.ARM_CLIENT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Init (dynamic backend key)
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          terraform init \
            -backend-config="resource_group_name=tfstate-rg" \
            -backend-config="storage_account_name=tfstatesoreh123" \
            -backend-config="container_name=terraform-state" \
            -backend-config="key=${REPO_NAME}.tfstate"

      - name: Terraform Plan
        run: terraform plan -input=false
